<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<div id="locations">
  <% @locations.each do |location| %>
    <div class = "location">
    <%= render location %>
    </div>
  <% end %>
</div>
<div class="button-container">
  <%= link_to "New location", new_location_path, class:"outlinedButton" %>
</div>
